In [952]:
import pandas as pd
import json
import math
from pandas.io.json import json_normalize

#Initialize dataframe
datahouse = pd.read_json("datahouse.json", orient="column")
datahouse.head()

,team,applicants
0,"{'name': 'Eddie', 'attributes': {'intelligence...","{'name': 'John', 'attributes': {'intelligence'..."
1,"{'name': 'Will', 'attributes': {'intelligence'...","{'name': 'Jane', 'attributes': {'intelligence'..."
2,"{'name': 'Mike', 'attributes': {'intelligence'...","{'name': 'Joe', 'attributes': {'intelligence':..."

In [953]:
# check team data
datahouse.team.head()

0    {'name': 'Eddie', 'attributes': {'intelligence...
1    {'name': 'Will', 'attributes': {'intelligence'...
2    {'name': 'Mike', 'attributes': {'intelligence'...
Name: team, dtype: object

In [954]:
# check applicant data
datahouse.applicants.head()

0    {'name': 'John', 'attributes': {'intelligence'...
1    {'name': 'Jane', 'attributes': {'intelligence'...
2    {'name': 'Joe', 'attributes': {'intelligence':...
Name: applicants, dtype: object

In [955]:
# normalize data so it's easier to access
team_normalized = json_normalize(datahouse.team)
team_normalized

,name,attributes.intelligence,attributes.strength,attributes.endurance,attributes.spicyFoodTolerance
0,Eddie,1,5,3,1
1,Will,1,5,3,1
2,Mike,9,4,1,5

In [956]:
# iterate through each attribute and find an average score
teamcount = 0
team_intelligence = 0
team_strength = 0
team_endurance = 0
team_spicy = 0

for element in team_normalized['name']:
    teamcount += 1
    
for i in team_normalized['attributes.intelligence']:
    team_intelligence += i

for i in team_normalized['attributes.strength']:
    team_strength += i

for i in team_normalized['attributes.endurance']:
    team_endurance += i
    
for i in team_normalized['attributes.spicyFoodTolerance']:
    team_spicy += i

In [957]:
# average function
team_intell_avg = team_intelligence / teamcount
team_str_avg = team_strength / teamcount
team_endu_avg = team_endurance / teamcount
team_spicytol_avg = team_spicy / teamcount

In [958]:
# check numbers to make sure they're correct
print('The amount of members in the team is ' + str(teamcount))
print('The average intelligence score for the team is ' + str(team_intell_avg))
print('The average strength score for the team is ' + str(team_str_avg))
print('The average endurance score for the team is ' + str(team_endu_avg))
print('The average spicy tolerance score for the team is ' + str(team_spicytol_avg))

The amount of members in the team is 3
The average intelligence score for the team is 3.6666666666666665
The average strength score for the team is 4.666666666666667
The average endurance score for the team is 2.3333333333333335
The average spicy tolerance score for the team is 2.3333333333333335

In [1014]:
# normalize applicant data so it's easier to read
applicants_normalized = json_normalize(datahouse.applicants)
applicants_normalized

,name,attributes.intelligence,attributes.strength,attributes.endurance,attributes.spicyFoodTolerance
0,John,4,5,2,1
1,Jane,7,4,1,10
2,Joe,1,1,1,10

## Weight application capatibility rating
Intelligence shows potential. In physics, potential is wasted energy. Without grit, intellect can only go so far.Weight of endurance (mental endurance) and intellect is equal.


Strength is kind of useful if we are using this JSON framework. In an office where you need to be agile, strength can have its uses. Weighted third highest.


Spicy food tolerance is great. If we can't bond over spicy food, we can't eat together :c. Just kidding spicy food tolerance doesn't have much to do with team capatibility. Weighted the lowest, sadly.


If their original score is lower than the teams average, they get a lower weight rating.

In [1015]:
applicant_list = []
names = []
app_intell_score = []
app_str_score = []
app_endu_score = []
app_spicy_score = []

# Apply the secret formula

for i in range(len(applicants_normalized['name'])):
    app_name = applicants_normalized['name']
    names.insert(i,app_name[i])
               
for i in range(len(applicants_normalized['attributes.intelligence'])):
    if applicants_normalized['attributes.intelligence'][i] >= team_intell_avg:
        app_intell = 0.3*(applicants_normalized['attributes.intelligence']/team_intell_avg)
        app_intell_score.insert(i,app_intell[i])
    else:
        app_intell = 0.25*(applicants_normalized['attributes.intelligence']/team_intell_avg)
        app_intell_score.insert(i,app_intell[i])

for i in range(len(applicants_normalized['attributes.strength'])):
    if applicants_normalized['attributes.strength'][i] >= team_str_avg:
        app_str = 0.15*(applicants_normalized['attributes.strength']/team_str_avg)
        app_str_score.insert(i,app_str[i])
    else:
        app_str = 0.1*(applicants_normalized['attributes.strength']/team_str_avg)
        app_str_score.insert(i,app_str[i])

for i in range(len(applicants_normalized['attributes.endurance'])):
    if applicants_normalized['attributes.endurance'][i] >= team_endu_avg:
        app_endu = 0.3*(applicants_normalized['attributes.endurance']/team_endu_avg)
        app_endu_score.insert(i,app_endu[i])
    else:
        app_endu = 0.3*(applicants_normalized['attributes.endurance']/team_endu_avg)
        app_endu_score.insert(i,app_endu[i])

for i in range(len(applicants_normalized['attributes.spicyFoodTolerance'])):
    if applicants_normalized['attributes.spicyFoodTolerance'][i] >= team_spicytol_avg:
        app_spicy = 0.005*(applicants_normalized['attributes.spicyFoodTolerance']/team_spicytol_avg)
        app_spicy_score.insert(i,app_spicy[i])
    else:
        app_spicy = 0.0025*(applicants_normalized['attributes.spicyFoodTolerance']/team_spicytol_avg)
        app_spicy_score.insert(i,app_spicy[i])

In [1016]:
print(names)
print(app_intell_score)
print(app_str_score)
print(app_endu_score)
print(app_spicy_score)

# Create list with each applicant's scores
attribute_list = [app_intell_score,app_str_score,app_endu_score,app_spicy_score]

# Move to applicant list and sum all values
# Could not find a way to do this iteratively
applicant_list = [sum(item[0] for item in attribute_list),sum([item[1] for item in attribute_list]),sum([item[2] for item in attribute_list])]

['John', 'Jane', 'Joe']
[0.3272727272727273, 0.5727272727272728, 0.06818181818181819]
[0.1607142857142857, 0.08571428571428572, 0.02142857142857143]
[0.2571428571428571, 0.12857142857142856, 0.12857142857142856]
[0.0010714285714285715, 0.02142857142857143, 0.02142857142857143]

In [1017]:
print(names)
applicant_list

['John', 'Jane', 'Joe']

[0.7462012987012987, 0.8084415584415585, 0.2396103896103896]

In [1018]:
scoredApplicants = {'scoredApplicants': [
        {
            'name': names[0],
            'score': applicant_list[1]
        },{
            'name': names[0],
            'score': applicant_list[1]
        },{
            'name': names[0],
            'score': applicant_list[1]
        }
    ]
 }

In [1019]:
with open('scoredApplicants.json', "w") as file:
    json.dump(scoredApplicants, file, indent=4, sort_keys=True)